span {
  font-weight: bold;
}

img {
  width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.wrapper {
  border: 1px solid black;
  padding-left: 15px;
  width: 300px;
  padding-right: 15px;
  padding-bottom: 15px;
  box-shadow: 8px 8px 3px lightpink;
}

.info-wrapper {
  border: 1px solid black;
  padding: 5px 10px 10px 10px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}